<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Title</title>
<!-- 	<style>
		h1{
			color:red;
		}
	</style> -->
</head>
<body>
<!-- 	<h1>Templates传参</h1>
	<h1>{{name}}}</h1> -->
<!-- 	<h1>Templates多参数传参</h1>
	<h1>{{params.music}}</h1>
	<h1>{{params.author}}</h1> -->
<!-- 	<h1>其它传参</h1>
	<h1>{{params.music[0]}}</h1>
	<h1>{{params.author.1}}</h1>
	<h1>{{params.name['aa']}}</h1> -->
<!-- 	<h1>过滤器</h1>
	<h1>capitalize:{{params.uname|capitalize}}</h1> -->
<!-- 流程判断 if -->
<!-- 	{% if uname %}
		<h1>welcome:{{uname}}</h1>h1>
	{% else %}
		<h1>
			<a href="{{url_for('login')}}">登陆</a>
		</h1>
	{% endif %} -->

<!--循环遍历 params.list-->
<!-- 	{% for i in params.list %}
		<div>{{i}}</div>
	{% endfor %} -->
<!--遍历字典-->
	<!-- {% for key,value in params.dic.items() %}
		<h1>{{key}}:{{value}}</h1>
	{% endfor %} -->

<!-- 声明一个宏：接收一个字符串参数 -->
	<!-- {% macro showP(str) %}
		<p style="background:orange;">{{str}}</p>
	{% endmacro %}
调用宏，循环遍历params.list
	{% for i in params.list %}
		{{showP(i)}}
	{% endfor %}
 -->

<!-- http_request -->
<!--     <h1>args : {{params.atgs}}</h1>
    <h1>cookies : {{params.cookies}}</h1>
 -->


<!-- 获取数据传入数据库 -->
<!-- <form action="/01-template" method="post">
<p>
	用户名称：<input type="text" name="username">
</p>
<p>
	用户年龄：<input type="number" name="age">
</p>
<p>
	电子邮箱：<input type="email" name="email">
</p>
<p>
	<input type="submit">
</p>
</form> -->

<!-- a-b获取后台数据以表格形式打印出来 -->
<!-- 	<table border="1">
		<tr>
			<th>姓名</th>
			<th>年龄</th>
			<th>邮箱</th>
			<th>操作</th>
		</tr>
		{% for user in users %}
		<tr>
			<td>{{user.username}}</td>
			<td>{{user.age}}</td>
			<td>{{user.email}}</td>
			<td> -->
<!-- 				<a href="#">修改</a>
				<a href="#">删除</a>		 -->
				<!--a-b1修改键连接  -->
				<!-- <a href="/02-template?id={{user.id}}">修改</a>
				<a href="javascript:deleteUser({{ user.id}})">删除</a>
			</td>
		</tr>
		{% endfor %}
	</table> -->
	<!-- <script>
		/* 
		删除指定用的方法
		参数id：表示的是要删除的用户的id
		*/
		function deleteUser(id){
			//1.弹出提示是否要删除
			if(window.confirm('确定要删除？')){
			//2.如果真的要删除则发送请求到后台
				location.href="/06-delete?id="+id;
			}
		}
	</script> -->

<!-- a一对多 -->
<!-- 	<form action="/04-regTeacher" method="post">
	<p>
		姓名：<input type="text" name="tname">
	</p>
	<p>
		年龄：<input type="number" name="tage">
	</p>
	<p>
		课程:
			<select name="course">
				{% for course in  courses%}
					<option value="{{course.id}}">
						{{course.cname}}
					</option>
				{% endfor %}
			</select>
	</p>
	<p>
		<input type="submit">
	</p>
	<p>
		{% for course in  courses%}
			{{course.id}}
		{% endfor %}
	</p>
	</form> -->
	
<!-- #a登录状态判断 -->
 <!-- <form action='/02-template' method="post">
 	<p>
 		用户名称：<input type="text" name="uname">
 	</p>
 	<p>
 		用户密码:<input type="password" name="upwd">
 	</p>
 	<p>
 		记住密码：<input type="checkbox" name="isSaved">
 	</p>
 	<p>
 		<input type="submit" value="提交">
 	</p>

 </form> -->


</body>
</html>