<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- a-b修改键跳转网址 -->
<!-- <form action="/02-template" method="post">
    <p>
        姓名:<input type="text" name="username" value="{{user.username}}">
    </p>
    <p>
        年龄：<input type="number" name="age" value="{{user.age}}">
    </p>
    <p>
	    邮箱：<input type="email" name="email" value="{{user.email}}">
    </p>
    <p>
	    <input type="submit"> -->
        <!-- a-b1隐藏域，提交给服务器但是显示给用户看-->
        <!-- <input type="hidden" name="id" value="{{user.id}}">
    </p>
</form> -->


<!-- a一对多 -->
<!-- <table border="1">
    <tr>
        <th>姓名</th>
        <th>年龄</th>
        <th>课程</th>
    </tr>
    <tr>
        {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.tname }}</td>
                <td>{{ teacher.tage }}</td>
                <td>{{ teacher.course.cname }}</td>
            </tr>
        {% endfor %}
    </tr>
</table> -->

</body>
</html>